* {
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    font-family: 'Londrina Solid', cursive;
}

.wrapper {
    max-width: 35%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 5%;
}

.slider {
    display: flex;
    flex-direction: column;
}

.input {
    display: none;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
    transition: all 0.6s ease;
    margin-left: 0;
    margin-bottom: 8%;
}

.image {
    width: 100%;
    display: flex;
    border-radius: 2rem;
    padding-right: 0.5%;
    padding-left: 0.5%;
    margin-left: auto;
    margin-right: auto;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.slides {
    margin-left: 0;
}

#r2:checked~.slides {
    margin-left: -100%;
}

#r3:checked~.slides {
    margin-left: -200%;
}

#r4:checked~.slides {
    margin-left: -300%;
}

.bot-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.text {
    font-size: 2.1rem;
    color: rgb(72, 57, 94);
    opacity: 0;
    display: none;
    transition: opacity 0.4s ease-in-out;
    padding-left: 1%;
}

.t3 {
    white-space: nowrap;
}

#r1:checked~.bot-wrapper .text-slider .t1,
#r2:checked~.bot-wrapper .text-slider .t2,
#r3:checked~.bot-wrapper .text-slider .t3,
#r4:checked~.bot-wrapper .text-slider .t4 {
    opacity: 1;
    display: block;
    animation: text-animation 2s;

}

@keyframes text-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navigation {
    width: fit-content;
    height: 25%;
    margin-right: 0;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

.button {
    padding: 0.5rem;
    cursor: pointer;
}

.button-style {
    display: block;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background-color: rgb(230, 246, 188);
    border: solid 0.2rem rgb(59, 60, 99);
    border-radius: 30%;
    transition: all 0.4s ease;
}

.button:hover .button-style {
    border-radius: 50%;
    background-color: rgb(237, 141, 141);
    cursor: pointer;
}

#r1:checked~.bot-wrapper .navigation .b1,
#r2:checked~.bot-wrapper .navigation .b2,
#r3:checked~.bot-wrapper .navigation .b3,
#r4:checked~.bot-wrapper .navigation .b4 {
    background-color: rgb(235, 184, 149);
    border-radius: 50%;
    pointer-events: none;
}

@media (max-width:1441px) {
    .wrapper {
        max-width: 40%;
    }
}


@media (max-width:1181px) {
    .wrapper {
        max-width: 55%;
    }

    .text {
        font-size: 2rem;
    }
}

@media (max-width:823px) {
    .wrapper {
        max-width: 70%;
        padding-top: 10%;
    }
}

@media (max-width:651px) {
    .wrapper {
        max-width: 80%;
        padding-top: 20%;
    }

    .bot-wrapper {
        flex-direction: column;
        margin-top: 5%;
        height: 15rem;
    }

    .button-style {
        height: 1.7rem;
        width: 1.7rem;
    }

    .text-slider {
        height: 200%;
        order: 1;
    }

    .text {
        text-align: center;
        padding-left: 0;
    }
}