* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(199, 200, 200);
}

.slider {
    display: flex;
    flex-direction: column;
}

.slides {
    display: flex;
    width: 45vw;
    height: 55vh;
    overflow: hidden;
    border: solid rgb(224, 224, 231);
    margin-left: 25%;
}

.bot-wrapper {
    width: 45vw;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: end;
    width: 15vw;
    height: 10vh;
    padding-top: 1%;

}

.button {
    margin-left: 2%;
}