* {
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 200, 200);
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.input {
    display: none;
}

.slides {
    width: 50vw;
    display: flex;
    overflow: hidden;
    border: solid rgb(224, 224, 231);
}

.bot-wrapper {
    width: 45vw;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    justify-content: end;
    width: 15vw;
    height: 10vh;
    padding-top: 1%;

}

.button {
    margin-left: 2%;
}